<div class="health-check-filter health-check-filter-all">
    <h2 class="health-check-filter-count">
        <%= all %>
    </h2>
    <%= _("ALL").t() %>
</div>
<div class="health-check-filter health-check-filter-error">
    <h2 class="health-check-filter-count">
        <%= error %>
    </h2>
    <%= _("ERROR").t() %>
</div>
<div class="health-check-filter health-check-filter-warning">
    <h2 class="health-check-filter-count">
        <%= warning %>
    </h2>
    <%= _("WARNING").t() %>
</div>
<div class="health-check-filter health-check-filter-info">
    <h2 class="health-check-filter-count">
        <%= info %>
    </h2>
    <%= _("INFO").t() %>
</div>
<div class="health-check-filter health-check-filter-success">
    <h2 class="health-check-filter-count">
        <%= success %>
    </h2>
    <%= _("SUCCESS").t() %>
</div>
<div class="health-check-filter health-check-filter-unavailable">
    <h2 class="health-check-filter-count">
        <%= unavailable %>
    </h2>
    <%= _("N/A").t() %>
</div>
