.splunkmonitoringconsole-views-splunkhealthcheck-scope {
	.standalone-instance {
		display: inline-block;
		padding-right: 10px;
	}

	.scope-filter {
		padding-top: 10px;

		.control-group {
			display: inline-block;
			float: left;
			margin-right: 10px;

			.control-label {
				float: left;
			}

			.controls-block {
				margin-left: 10px;
				width: 250px;
			}
		}
	}
}