/alert-logevent/*
/alert_webhook/*
/appsbrowser/*
/framework/*
/gettingstarted/*
/introspection_generator_addon/*
/launcher/*
/learned/*
/legacy/*
/sample_app/*
/search/*
/splunk_httpinput/*
/splunk_instrumentation/*
/splunk_monitoring_console/*
/SplunkForwarder/*
/SplunkLightForwarder/*
/user-prefs/*