Policy has been edited: Changed location-independent policy or settings.,Client Policy
Policy has been edited: Changed Console mode at [Default],Client Policy
Policy has been edited: Changed location-independent password settings successfully.,Client Policy
Policy has been edited: Inheritance status changed.,Test
Policy has been edited: Edited shared Firewall policy: Test AZ - Default Firewall Policy - Post Split Tunnel Full Logging Policy.,Test
Policy has been edited: Edited example policy - Balanced,example policy - Balanced