http://bedroom.example.com/bead/birth.php
https://www.example.com/
https://example.org/ball/animal.html
http://www.example.com/
http://birthday.example.com/anger.php?bridge=behavior&basin=believe
https://www.example.org/
http://example.com/
https://www.example.com/branch/beds.aspx
http://www.example.org/addition.php
http://attraction.example.org/
http://air.example.com/
https://art.example.com/advice/animal
https://example.com/
https://www.example.edu/bridge/bridge.html?book=bottle&animal=adjustment
https://www.example.com/army/basket
http://www.example.com/baby
http://brick.example.com/
http://example.com/arithmetic/baseball.php
https://example.com/bottle/angle.php